{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            	{% for item in cart %}
                <tr class="itemCheck{{ item['id']}}">
                    <td class="col-sm-8 col-md-6">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a>{{ item["title"] }}</a></h4>
                            <h5 class="media-heading"> by <a href="#">{{ item["artist"] }}</a></h5>
                        </div>
                    </div></td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                    <span>1</span>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><strong class= "itemCost" value="{{ item['price']}} ">${{ item["price"] }}</strong></td>
                    <td class="col-sm-1 col-md-1">
                    <button onclick="removeItem({{ item['id'] }})" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button></td>
                </tr>
                {% endfor %}
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>Subtotal</h5></td>
                    <td class="text-right"><h5><strong class="subtotal"></strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td><h5>HST</h5></td>
                    <td class="text-right"><h5><strong class="hst"></strong></h5></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong class="total">$31.53</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                    </button></td>
                    <td>
                    <form action="/cart" method="POST">
                    <button type="submit" class="btn btn-success">
                        Checkout <span class="glyphicon glyphicon-play"></span>
                    </button></td>
                	</form>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var subtotal = 0.00;
	$('.itemCost').each(function(){
		subtotal += parseFloat($(this).attr('value'));
	});
	$('.subtotal').text('$' + subtotal);
	var hst = subtotal * 0.13;
	hst = hst.toFixed(2);
	$('.hst').text('$' + hst);
	var total = subtotal * 1.13
	total = total.toFixed(2);
	$('.total').text('$' + total);
});

</script>
{% endblock %}